[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "==0.16.0"
black = "==19.10b0"
isort = "==4.3.21"
"flake8" = "==3.7.9"
pre-commit = "==2.9.2"
seed-isort-config = "==1.9.4"
pytest-django = "==3.8.0"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.2"
django-debug-toolbar = "==2.1"
django-extensions = "==2.2.5"
Django = "==2.2.*"
psycopg2-binary = "==2.8.4"
gunicorn = "==20.0.4"
whitenoise = "==5.0.1"
django-ckeditor = "==5.8.0"
bleach = "==5.0.1"
django-redis = "==4.11.0"
django-reversion = "==3.0.5"
sentry-sdk = "==0.14.0"
django-select2 = "==7.2.0"

[pipenv]
allow_prereleases = true
