{% extends "base.html" %}

{% load static %}

{% block content %}
<div class = "flex flex-col mt-8">
  <div class = "flex justify-center">
    <p class = "w-3/5 text-center font-thin">
      La donación de suministros a las áreas más afectadas del país por el terremoto ha sido un éxito. Esta página pretende ser un vehículo de distribución equitativa para estos suministros, administrada por la misma gente que dona, y que recibe. Para que la ayuda no falte donde se necesita, ni sobre donde ya la tengan.
    </p>
  </div>
  <div class = 'flex justify-center mt-5'>
    <p class = "w-3/5 text-center font-semibold">
      Revisa los sectores en el listado de abajo. Entra, mira y añade necesidades de ser necesario. Si el sector o refugio que buscas no aparece, añádelo. Verifica si ya existe antes de añadirlo para así evitar la duplicación de información. 🙂
    </p>
  </div>
</div>
<div class = "flex flex-col mt-10">
  <div class = "flex justify-center">
    <a href="{% url 'suministro-add' %}" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
      <svg class="fill-current w-4 h-4 mr-2" class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path class="heroicon-ui" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm0 2v14h14V5H5zm8 6h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2z"/></svg>
      <span>Añadir sector o refugio</span>
    </a>
  </div>
  <div class = "flex justify-center">
    {% regroup object_list by get_municipality_display as suministros_by_municipality %}
    {% for suministros in suministros_by_municipality %}
      <ul>
        <li>
          {{suministros.grouper}}

          <ul>
            {% for suministro in suministros.list %}
            <li>
              <a href="{% url 'suministro-detail' suministro.slug %}">
                {{ suministro.title }} / {{ suministro.get_municipality_display }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    {% endfor %}
  </div>
</div>
{% endblock %}
