{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load suministro_extras %}

{% block head_title %}Entérate, Ayuda, Informa - {% endblock %}

{% block content %}

{% get_current_language as language_code %}
<div class="main__about">
  <div class="main__about main__about--paragraph">
    <p>
     {% if language_code == 'es' %}
      El Huracán Fiona causo daños severos a la isla y a sus habitantes. Hay una gran necesidad de suministros y ayudas de todo tipo y esta plataforma, creada por la gente de Puerto Rico, pretende servir de enlace directo entre los que necesitan y los que desean ayudarlos.
      {% endif %}
      {% if language_code == 'en' %}
      Hurricane Fiona has caused significant damage to Puerto Rico. There is a pressing need for many things and this platform, led by the people, helps coordinate and deliver help from those willing to give to those who need it.
      {% endif %}
    </p>
  </div>
  <div class="main__about main__about--paragraph">
    <ol class="main__about--card">
      {% if language_code == 'es' %}
      <li><strong>Revisa</strong> los sectores en el listado de abajo.</li>
      <li><strong>Entra, lee y añade</strong> necesidades de ser necesario.</li>
      <li><strong>Añade el sector o refugio</strong> si el que buscas no aparece!</li>
      <li><strong>Recuerda poner tu información de contacto</strong> para que los voluntarios coordinen directamente.</li>
      {% endif %}
      {% if language_code == 'en' %}
      <li><strong>Verify</strong> the refuges listed below.</li>
      <li><strong>Search and add</strong> necessities where needed.</li>
      <li><strong>Add Sector or refuge</strong>, if you can't find it add it!</li>
      <li><strong>Remember to provide your contact information</strong> so that volunteers can contact you directly.</li>
      {% endif %}
   </ol>
  </div>
</div>
<div class="main__about main__about--actions">

  <div class="main__about--button">
    <a href="{% url 'suministro-add' %}">
    <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><path class="heroicon-ui" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm0 2v14h14V5H5zm8 6h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2H9a1 1 0 0 1 0-2h2V9a1 1 0 0 1 2 0v2z"/></svg>
    <span>{% trans 'Añadir sector o refugio' %}</span>
    </a>
  </div>

  <form action="{% url 'suministro-search' %}" method="GET">
    <div class="main__actions--form">
      <div class="actions__form--container">
        <div class="relative">
          <select name="tag" onchange="this.form.submit()">
          <option value="">{% trans 'Filtrar por categoría' %}</option>
          {% for value, label in filter_form.fields.tag.choices %}
          <option value="{{ value }}">{{ label }}</option>
          {% endfor %}
          </select>
          <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
         </div>
        </div>
      </div>
    </div>
  </form>

</div>

<div class="main__munigrid">

  <div class="main__munigrid main__munigrid--container">
    <div class="main__munigrid grid">
        {% for group in sorted_results %}
          <div class="main__munigrid grid__column">
            <div class="grid__column--cell">
              <input type="checkbox" id="toggle-{{ group.municipality|slugify }}" class="grid__column--toggle" />
              <div class="grid__column--header">
                <label for="toggle-{{ group.municipality|slugify }}" class="grid__column--toggle">
                  <div class="svg">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                  </div>
                </label>
                <img src="{% escudo_static group.municipality %}" alt="{{ group.municipality }}" >
                <h3>
                  <a href="{% url 'suministro-municipio-list' group.municipality|slugify %}">{{ group.municipality }}</a>
                </h3>
              </div>

              <ul>
                {% for suministro in group.suministros %}
                  <li>
                    <a href="{% url 'suministro-detail' suministro.slug %}">
                      {{ suministro.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

</div>

</div>
{% endblock %}
