{% extends "base.html" %}

{% load static %}

{% block head_title %}{{ object|yesno:'Editar,Añadir' }} sector o refugio - {% endblock %}

{% block extra_head %}
  {{ form.media.css }}
  <style type="text/css">
    select#id_tags {
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
<div class = 'main__form'>

  <form method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="input__container">
        <label for="grid-first-name">
          Nombre de sector o refugio
        </label>
        <input type="text" name="title" value="{{ form.title.value|default_if_none:'' }}">
        {% if form.title.errors %}<p>{{ form.title.errors.0 }}</p>{% endif %}
    </div>

    <div class="input__container">
        <label for="grid-state">
          Municipio
        </label>
        <div class="relative">
          <select name="municipality">
            {% for value, label in form.fields.municipality.choices %}
              <option value="{{ value }}" {% if form.municipality.value == value %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
          </select>
          <div class="svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
      
        {% if form.municipality.errors %}<p>{{ form.municipality.errors.0 }}</p>{% endif %}
    </div>

    <div class="input__container">
        <label for="grid-first-name">
          Categorías
        </label>
        {{form.tags}}
        {% if form.tags.errors %}<p>{{ form.tags.errors.0 }}</p>{% endif %}
    </div>

    <div class="input__container">
      <label>
        Necesidades e información de contacto
      </label>
      {{form.content}}
    </div>

    <div class="main__search--button">
      <button type="submit">
        Guardar y publicar
      </button>
    </div>
    <div class="main__search--button">
      <a href="{% if object %}{% url 'suministro-detail' object.slug %}{% else %}{% url 'suministro-list' %}{% endif %}">Cancelar</a>
    </div>
  </form>

</div>
{% endblock %}

{% block extra_body %}
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
{{ form.media.js }}
{% endblock %}
