{% extends "base.html" %}

{% load static %}

{% block content %}
  <a href="{% url 'suministro-add' %}">Add</a>

  {% regroup object_list by get_municipality_display as suministros_by_municipality %}
  {% for suministros in suministros_by_municipality %}
    <ul>
      <li>
        {{suministros.grouper}}

        <ul>
          {% for suministro in suministros.list %}
          <li>
            <a href="{% url 'suministro-detail' suministro.pk %}">
              {{ suministro.title }} / {{ suministro.get_municipality_display }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endfor %}
{% endblock %}
