<footer class="flex justify-center mt-2 mb-6  ">
  <div class="w-full mx-5 text-xs lg:text-base lg:w-3/5">
    <p class="text-center font-thin">
      Una humilde aportación de
      <a
        class="text-red-500 hover:underline"
        href="https://twitter.com/jwvelez"
        target="_blank"
        rel="noopener noreferrer"
        >Javier W. Vélez</a
      >,
      <a
        class="text-red-500 hover:underline"
        href="https://twitter.com/juanpipr"
        target="_blank"
        rel="noopener noreferrer"
        >Juan Pablo Díaz</a
      >,
      <a
        class="text-red-500 hover:underline"
        href="https://twitter.com/oajvelez"
        target="_blank"
        rel="noopener noreferrer"
        >Orlando Vélez</a
      >
      &
      <a
        class="text-red-500 hover:underline"
        href="https://twitter.com/gcollazo"
        target="_blank"
        rel="noopener noreferrer"
        >Giovanni Collazo</a
      >.
      Esta página es un esfuerzo ciudadano y no tiene ninguna relación con el
      gobierno de Puerto Rico ni el de EEUU.
    </p>
  </div>
</footer>
