{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %}Entérate, Ayuda, Informa - Suministros Puerto Rico{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% block body %}
      {% block content %}{% endblock %}
    {% endblock %}

    {% block extra_body %}{% endblock %}
  </body>
</html>
