name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 0 * * 0"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This Issue is being marked as Stale because it has 30 days without any interaction. CC: @froi @jpadilla'
        stale-pr-message: 'This Pull Request is being marked as Stale because it has 30 days without any interaction.  CC: @froi @jpadilla'
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
        days-before-stale: 30
        days-before-close: 7
